[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "R2sample"]
	path = R2sample
	url = https://github.com/cran/R2sample
[submodule "Rgof"]
	path = Rgof
	url = https://github.com/cran/Rgof
[submodule "simgof"]
	path = simgof
	url = https://github.com/cran/simgof
