[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "MD2sample"]
	path = MD2sample
	url = https://github.com/cran/MD2sample
[submodule "MDgof"]
	path = MDgof
	url = https://github.com/cran/MDgof
[submodule "R2sample"]
	path = R2sample
	url = https://github.com/cran/R2sample
[submodule "Rgof"]
	path = Rgof
	url = https://github.com/cran/Rgof
[submodule "moodlequizR"]
	path = moodlequizR
	url = https://github.com/cran/moodlequizR
[submodule "simgof"]
	path = simgof
	url = https://github.com/cran/simgof
