[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "R2sample"]
	path = R2sample
	url = https://github.com/cran/R2sample
	shallow = true
	registered = true
[submodule "simgof"]
	path = simgof
	url = https://github.com/cran/simgof
	shallow = true
	registered = true
